# alias af=alias-finder
alias eww='eww -c ~/.config/eww/new_bar'
alias diary="vim \"$HOME/Documents/vip/`date \"+%Y-%m-%d\"`.md\" \"+normal i`date \"+%B %d, %Y\"`\" \"+normal o`date \"+%A, %H:%M\"`\""
alias di='diary'
alias dit="vim \"$HOME/Documents/vip/`date \"+%Y-%m-%d\"`.md\""
alias .s="cd ~/scripts"
alias .g="cd ~/GitRepositories"
alias .c="cd ~/.config"
alias .p="cd ~/Pictures"
alias .v="cd ~/Videos"
alias .d="cd ~/Downloads"
alias .pr="cd ~/mntpts/primary"
alias .se="cd ~/mntpts/secondary"
alias .te="cd ~/mntpts/tertiary"
alias gs="vim +0Git \"+normal gU\""
alias menu="menu | lolcat"
alias nomnom="menu | lolcat"
alias so="shrout"
alias sf="shrfile"
alias co="cpyout"
alias cf="cpyfile"
alias emacs="emacsclient -c -a emacs"
alias ls=lsd
alias ltr="ls -ltr"
alias lsl="clear; ls"
alias lll="clear; ll"
alias rake='noglob bundled_rake'
alias weather='curl wttr.in/?0'
alias gdm='gd master'
alias s='gst .'
alias d='gd .'
alias intel="sudo prime-select intel"
alias nvidia="sudo prime-select nvidia"
alias pls="sudo"
alias p="pyenv"
alias cat="bat"
alias bd="batdiff"
alias man="batman"
alias cd.="cd .."
alias cd..="cd .."
alias xd="xdg-open &>/dev/null"
alias xd.="xdg-open &>/dev/null ."
alias suod="sudo"
alias sduo="sudo"
alias zz='z -c'      # restrict matches to subdirs of $PWD
alias zi='z -I'      # use fzf to select in multiple matches
alias j=z
alias ji='z -I'
alias jj='z -c'
alias jb='z -b'
alias t="todo.sh"
alias ta="todo.sh add"
alias tl="todo.sh list"
alias td="todo.sh do"
alias tp="todo.sh pri"
alias nvim="nvim --listen ~/.config/nvim/sockets/$$"
alias vim="nvim"
alias v="vim \`fzf\`"
alias viz="pushd; cd ${ZDOTDIR:-$HOME}; vim .zshrc && popd"
alias vizh="pushd; cd ${ZDOTDIR:-$HOME}/; vim .zsh_history && popd"
alias vizp="pushd; cd ${ZDOTDIR:-$HOME}/; vim .zpreztorc && popd"
alias via="pushd; cd ${ZDOTDIR:-$HOME}/; vim .aliases && popd"
alias vit="pushd; cd ~/.config/tmux/; vim tmux.conf && popd"
alias vip="pushd; cd ~/.config/nvim/; vim lua/plugins.lua && popd"
alias vih="pushd; cd ~/.config/hypr/; vim hyprland.conf && popd"
alias viv="pushd; cd ~/.config/nvim; vim init.lua && popd"
alias vin="pushd; cd ~/.config/nvim; vim init.lua && popd"
alias vi3="pushd; cd ~/.config/i3/; vim config && popd"
alias viq="pushd; cd ~/.config/qtile/; vim config.py && popd"
alias top='htop'
alias ftop='btop' # fancy top
alias cp='cp -ri'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias dots='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias dos='dots status'
alias dos.='dots status .'
alias dod='dots diff'
alias dod.='dots diff .'

